/* ゲームに必要なスタイル情報をまとめたファイル */

@charset "utf-8";

#Contents {
    bottom: calc(10svh - 0.3vw);
}

#ErrorAspectRatio {
    display: none;
}

#CountText {
    color: #fff;
    position: absolute;
    width: 50dvw;
    left: 25dvw;
    line-height: var(--SizeFontCountText);
    font-size: var(--SizeFontCountText);
}

#ButtonHelp {
    display: block;
}

#ButtonRetry {
    position: absolute;
    width: var(--WidthButton); aspect-ratio: 4 / 1;
    border-radius: calc(var(--WidthButton) / 14);
    box-shadow: 0 calc(var(--WidthButton) / 50) calc(var(--WidthButton) / 50);
    left: calc(50% - var(--WidthButton) / 2); top: 70%;
    background-image: url(/assets/image/button/button-retry.webp), url(/assets/image/button/button-retry-push.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    visibility: hidden;
}
#ButtonRetry:active {
    background-image: url(/assets/image/button/button-retry-push.webp);
}

#Chicken {
    position: absolute;
    width: var(--WidthChicken); aspect-ratio: 1 / 1.2;
    left: calc(50% - var(--WidthChicken) / 2); bottom: 0;
    background-image: url(/assets/image/character/anime-chicken.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 1;
    transition-property: scale;
    transition-duration: 150ms;
}

.Crab {
    position: absolute;
    width: var(--WidthCrab); aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 1;
}

.Crab.CrabR {
    background-image: url(/assets/image/character/anime-crab-r.webp);
}
.Crab.CrabB {
    background-image: url(/assets/image/character/anime-crab-b.webp);
}
.Crab.CrabY {
    background-image: url(/assets/image/character/anime-crab-y.webp);
}
.Crab.CrabG {
    background-image: url(/assets/image/character/anime-crab-g.webp);
}
.Crab.CrabP {
    width: calc(var(--WidthCrab) * 2);
    background-image: url(/assets/image/character/anime-crab-p.webp);
}

#EffectFlickChicken {
    position: absolute;
    width: var(--WidthEffectFlickChicken); aspect-ratio: 1 / 1.2;
    background-image: url(/assets/image/character/flick-chicken.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}