/* 縦画面ゲームに必要なスタイル情報をまとめたファイル */

@charset "utf-8";

:root {
    --AspectRatioGuideVertical: calc(660 / 120);
    --SizeFontCountText: 10dvw;
    --WidthButton: 160px;
    --WidthChicken: 10dvh;
    --WidthCrab: 10dvh;
    --WidthEffectFlickChicken: 15dvh;
}

footer.Tap.En.OnClickHelp:not(.OnClickOption) {
    background-image: url(/assets/image/decoration/guide-vertical-tap-en.webp);
    background-size: auto min(5svh, calc(var(--MaxWidthContentsFooter) / var(--AspectRatioGuideVertical)));
}
footer.Tap.Ja.OnClickHelp:not(.OnClickOption) {
    background-image: url(/assets/image/decoration/guide-vertical-tap-ja.webp);
    background-size: auto min(5svh, calc(var(--MaxWidthContentsFooter) / var(--AspectRatioGuideVertical)));
}
footer.Keyboard.En.OnClickHelp:not(.OnClickOption) {
    background-image: url(/assets/image/decoration/guide-vertical-keyboard-en.webp);
    background-size: auto min(5svh, calc(var(--MaxWidthContentsFooter) / var(--AspectRatioGuideVertical)));
}
footer.Keyboard.Ja.OnClickHelp:not(.OnClickOption) {
    background-image: url(/assets/image/decoration/guide-vertical-keyboard-ja.webp);
    background-size: auto min(5svh, calc(var(--MaxWidthContentsFooter) / var(--AspectRatioGuideVertical)));
}

#CountText {
    top: 30%;
}